<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://dubbo.apache.org/schema/dubbo
       http://dubbo.apache.org/schema/dubbo/dubbo.xsd">
    <!--自动扫包-->
    <context:component-scan base-package="com.itheima.service"/>

    <!--配置dubbo 应用名称-->
    <dubbo:application name="health_provider"/>
    <!--配置注册中心的得治-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!--dubbo的端口号，默认 208880-->
    <dubbo:protocol name="dubbo" port="20880"/>
    <!--配置dubbo自动扫包-->
    <dubbo:annotation package="com.itheima.service"/>

    <!--启动时不检查-->
    <dubbo:consumer check="false"></dubbo:consumer>

</beans>