<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <plugins>
        <!--如果 使用5.1.2 使用这一句-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>-->
        <!--如果 使用4.1.4 使用这一句-->
        <plugin interceptor="com.github.pagehelper.PageHelper"></plugin>
    </plugins>
</configuration>